{
	"trailingComma": "none",
	"overrides": [
		{
			"files": "**/lwc/**/*.html",
			"options": {
				"parser": "lwc"
			}
		},
		{
			"files": "*.{cmp,page,component}",
			"options": {
				"parser": "html"
			}
		}
	],
	"tabWidth": 4,
	"useTabs": true,
	"printWidth": 140,
	"singleQuote": true,
	"endOfLine": "lf"
}
